.login-container-layout {
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid blue; */
  width: 100%;
  height: 100vh;
}

.login-container-image {
  /* border: 1px solid red; */
  flex-basis: 50%;
  height: 100vh;
}
.login-container-form {
  flex-basis: 49%;
  border-left: 3px solid black;
  text-align: center;
  height: 100vh;
}
.login-container-form-header {
  text-transform: uppercase;
  letter-spacing: 2.5px;
  text-shadow: 1px 1px 1px #000;
}
.login-container-main-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.login-container-labeltag {
  margin: 20px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.2rem;
}
.login-container-input {
  position: relative;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  width: 80%;
}
.login-guest-btn {
  padding: 10px 20px;
  background: whitesmoke;
  color: black;
  font-weight: bold;
  border-radius: 4px;
  font-size: 0.9rem;
  transition: all 0.2s ease-in;
  margin-top: 20px;
}
.login-guest-btn:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
.visibility-eye {
  position: absolute;
  right: 17%;
  margin-top: 15px;
  /* bottom: 50.5%; */
  cursor: pointer;
  font-size: 1.2rem;
}
