.signup-container-layout {
  display: flex;
  flex-wrap: wrap;
}
.signup-image-layout {
  width: 55%;
}
.signup-content-layout {
  width: 44%;
  border-left: 3px solid;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.signup-content-header {
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: 3rem;
  margin: 20px 0px 4px 0px;
  text-shadow: 1px 1px 1px #000;
}

.signup-content {
  text-align: left;
  height: 88%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.signup-content-placeholder {
  margin: 10px;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 2px;
  text-align: center;
}
.signup-content-input {
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 8px;
  font-size: 1.2rem;
  display: flex;
  flex-wrap: wrap;
}
.signup-content-btn {
  padding: 10px 20px;
  background: black;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  font-size: 0.9rem;
  transition: all 0.2s ease-in;
  margin-top: 20px;
}
.signup-content-btn:hover {
  cursor: pointer;
  background-color: whitesmoke;
  color: black;
}
