.cart-container-layout {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  height: 100%;
}

.cart-container-items {
  /* border: 1px solid red; */
  width: 60%;
  height: 100%;
}
.cart-container-price {
  width: 39%;
  height: 100%;
  text-align: center;
}
.cart-container-price-header {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
}
hr {
  width: 80%;
}
.cart-container-checkoutbtn {
  width: fit-content;
  margin: 15px auto;
}
