.checkout-container-layout {
  width: 100%;
  height: 100vh;
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
}

.checkout-address {
  width: 50%;
  /* border: 1px solid green; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.checkout-price {
  width: 49%;
}
