.applied-category-filter {
  border: 1px solid;
  padding: 3px 6px;
  margin: 0px 6px;
  font-size: 0.85rem;
  border-radius: 5px;
  transition: all 0.1s ease-in;
}
.applied-category-filter:hover {
  cursor: pointer;
  font-size: 0.89rem;
}
