.btn-style {
  padding: 8px 14px;
  background: black;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  font-size: 1rem;
  transition: all 0.2s ease-in;
}
.btn-style-secondary {
  padding: 7px 14px;
  background: white;
  color: black;
  font-weight: bold;
  border-radius: 4px;
  font-size: 1rem;
  transition: all 0.2s ease-in;
}
.btn-style:hover {
  cursor: pointer;
  background-color: whitesmoke;
  color: black;
}
.btn-style-secondary:hover {
  cursor: pointer;
  background-color: black;
  color: whitesmoke;
}
.signup-content-link {
  margin-top: 8px;
  font-size: 1rem;
}
