.cart-items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.cart-item {
  border: 1px solid black;
  background-color: #f9fafb;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2px;
  border-radius: 6px;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0px;
  position: relative;
  height: 270px;

  justify-content: space-between;
}
.del-modal-layout-container-overlay {
  left: 0;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.cart-item-image {
  flex-shrink: 1;
  flex-grow: 1;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.cart-item-image:hover {
  scale: 1.015;
}
.cart-item-content {
  width: fit-content;
  flex-shrink: 1;
  flex-grow: 1;
}
.cart-item-size {
  margin-top: 10px;
  margin-bottom: 10px;
}
.quantity-btn {
  color: whitesmoke;
  padding: 4px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}
.cart-item-remove-btn {
  margin: 15px 10px 10px 0px;
}
.cart-item-btns {
  display: flex;
  flex-wrap: wrap;
}
