.del-modal-layout {
  border: 1px solid;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 6rem;
  justify-content: space-between;
}
.del-modal-btn {
  align-self: flex-end;
}
.del-modal-yes-btn {
  margin-left: 10px;
}
.del-modal-yes-btn,
.del-modal-no-btn {
  padding: 3px 6px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  font-size: 1rem;
}
