.footer {
  background-color: #f2f2f2;
  padding: 8px 0px;
  width: 100%;
  text-align: center;
  /* position: absolute; */
  bottom: 0;
}

.social-pill {
  /* display: inline-block; */
  margin: 0px 10px;
  color: #333;
  /* font-size: 30px; */
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #555;
}
.copyright-text {
  margin-top: 10px;
}
.fa-brands {
  font-size: 1.6rem;
}
