.card-container {
  border: 1px solid rgba(99, 99, 99, 0.2);
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 0px 10px 30px 30px;
  width: 220px;
  height: 430px;
  position: relative;
  transition: all 0.1s ease-out;
}
.card-content {
  /* border: 1px solid green; */
  margin: 10px 10px 5px 10px;
  position: relative;
}
.card-title {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  text-transform: uppercase;
  transition: all 0.5s ease;
}
.card-title-div {
  margin-bottom: 2px;
}
.card-title:hover {
  color: rgb(83, 83, 83);
  cursor: pointer;
}
.card-category {
  color: rgb(164, 164, 164);
  font-weight: bold;
  margin: 2px 0px 0px 0px;
  text-transform: capitalize;
  letter-spacing: 1.5px;
}
.card-rating {
  position: absolute;
  bottom: 100px;
  background: white;
  left: 0px;
  padding: 3px 6px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
}
.rating-star {
  margin-left: 5px;
}
.heart-icon {
  position: absolute;
  right: 0px;
  border-radius: 50%;
  bottom: 325px;
  background-color: white;
  padding: 4px 8px;
  font-size: 1.2rem;
  cursor: pointer;
}

.discount-percentage {
  margin: 0px 10px;
  font-size: 1rem;
  font-weight: bold;
}
.discount-percentage::after {
  content: "% OFF";
}
.original-price {
  text-decoration: line-through;
  font-style: italic;
  color: rgb(164, 164, 164);
}
.new-price {
  font-size: 1.3rem;
  font-weight: bold;
  color: #16a34a;
}
.new-price::before {
  content: "₹";
}

.card-btn {
  margin: 8px 0px 0px 10px;
}
.card-size {
  position: absolute;
  right: 0px;
  top: -52px;
  font-weight: bold;
  background-color: white;
  padding: 3px 6px;
}
.solid-heart {
  position: relative;
  left: 3px;
}

.out-of-stock {
  position: absolute;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  top: 0%;
  background-color: rgba(99, 99, 99, 0.4);
  font-size: 1.3rem;
  width: 220px;
  height: 140px;
  padding-top: 140px;
  text-align: center;
  cursor: pointer;
}
