.top-brands-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.brand-image-tile {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in;
  margin: 8px 0px;
}
.brand-image-tile:hover {
  cursor: pointer;
  scale: 1.06;
}
