@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");
* {
  font-family: "Noto Sans", sans-serif;
  /* scroll-behavior: smooth; */
}
*::selection {
  color: white;
  background-color: black;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #94a3b8;
}
.success-toast-message {
  border-radius: 20px;
  font-size: 0.9rem;
}

.App {
  display: flex;
  flex-direction: column;
}

input[type="checkbox"],
input[type="radio"] {
  accent-color: black;
  cursor: pointer;
}
